<li class="list-group-item" style="cursor: pointer;">
    <input type="checkbox">  <%= item.name %>  <n class="half-tone"> - <%= time_ago_in_words(item.created_at) %> - </n>
    <%= link_to "Delete", user_item_path(current_user, item), :class => "btn btn-danger btn-xs pull-right in-line", method: :delete, date: { confirm: "Are you shure?" } %>
</li> 
